/* ===== PROFILE PAGE ===== */
/* ===== PROFILE STATS ===== */
.profile-stats {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.profile-stats div {
  text-align: left;
}

.profile-stats strong {
  font-size: 16px;
  font-weight: 600;
  margin-right: 4px;
}

.profile-stats span {
  font-size: 14px;
  color: #6b7280;
}

/* Dark mode */
body.dark .profile-stats span {
  color: #cbd5f5;
}

.profile-container {
  padding: 40px 0;
}

/* ===== HEADER ===== */
.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.profile-avatar-lg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #e5e7eb;
}

/* INFO */
.profile-info {
  flex: 1;
}

.profile-name-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-actions{
  display: flex;
  gap:10px;
}
.profile-name-row h3 {
  margin: 0;
  font-weight: 600;
}

.profile-type {
  margin-top: 6px;
  font-size: 14px;
  color: #6b7280;
}

.profile-bio {
  margin-top: 10px;
  font-size: 14px;
  max-width: 400px;
}

/* ===== ARTWORKS ===== */
.profile-artworks-title {
  margin: 30px 0 20px;
  font-weight: 600;
}

.profile-art-card {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.profile-art-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.profile-art-card:hover img {
  transform: scale(1.05);
}

/* STATES */
.profile-loading {
  font-size: 14px;
}

.profile-empty {
  font-size: 14px;
  color: #6b7280;
}

/* ===== DARK MODE ===== */
body.dark .profile-bio,
body.dark .profile-type,
body.dark .profile-empty {
  color: #cbd5f5;
}

body.dark .profile-avatar-lg {
  border-color: #334155;
}
